/* DEFAULT IS MOBILE FIRST */

body {
  margin: 0;
  padding: 0%;
}

/* common header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  widows: 100%;
  height: 84px;
  padding: 0 16px;
}

.fa {
  font-size: 24px !important;
}

.header-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}

/* mobile header only visible on phones */
.mobile-header {
  background-color: black;
}

.logo {
  letter-spacing: 5px;
}

.logo {
  color: #f7ffff;
}

.fa-bars {
  color: white;
}

/* main header visible on all devices */
.fa-shopping-cart {
  margin-right: 24px !important;
}
