/* DEFAULT IS MOBILE FIRST */
body {
  margin: 0;
  padding: 0%;
  min-width: 360px;
  display: flex;
  justify-content: flex-start;
  flex-wrap:nowrap;
}
/* common header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 84px;
  padding: 0 16px;
}
.fa {
  font-size: 24px !important;
}

.signs {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: white;
}

/* mobile header only visible on phones */
.mobile-header {
  background-color: black;
}

.logo {
  letter-spacing: 5px;
}

.jeans {
  color: black;
}

.fa-bars {
  color: white;
}

/* main header visible on all devices */
.fa-shopping-cart {
  margin-right: 24px !important;
}

/* main */
/* shop now */
.shop-now {
  position: relative;
  margin: 0px 16px;
}

.shop-now img {
  display: inline-block;
  width: 75%;
 
}

.wrapper-shop-now {
  position: absolute;
  top: 0px;
  padding-top: 24px;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
}

.new-arrival {
  font-size: 36px;
  margin: 10px 0;
}

.collection {
  display: none;
}

.shop-now a {
  text-decoration: none;
  background-color: black;
  width: 110px;
  padding: 12px 24px;
  font-size: 18px;
  margin: 10px 0;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: black;
  color: white;
}

footer p {
  font-size: 15px;
}

/* ************************ */
/* ********* media ******** */
/* ************************ */

@media only screen and (min-width: 601px) {
  .new-arrival {
    font-size: 64px;
  }
  .collection {
    display: block;
    font-size: 36px;
    margin: 10px 0;
  }
  .aside{
    display: block;
    font-size: 24px;
    margin: 10px 0;
  }
}

@media only screen and (min-width: 769px) {
  .mobile-header {
    display: none;
    background-color: black;
  }
  .aside{
    display: none;
  }
}






.aside{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  width: 20%;
  height: 550px;
  padding: 15px;

}
.aside h4{
  margin: 0px 0px;
  padding: 16px;
}
.menu{
  list-style: none; 
}
.logo{
  font-family: 'Montserrat', 
                sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  /* position: relative; */
  /* top: 10px;
  left: 10px; */
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul{
  padding-left: 0px;
  margin-left: 0px;
  padding: 64px 0px;
}
li{
  margin: 15px 0px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 550;
  font-size: 18px;
  color: #757575;
}
li:hover{
  background-color: #f1f1f1;
  color: #eb0f0f;
}

#asidefooter{
  margin-top: 10px;  
}
.menuinfo{
  list-style: none; 
  margin-left: 0px;
}
#contact, #news, #subs{
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  color: #000000;
  font-weight: 400;
  font-size: 15px;
  padding: 10px 15px;
  margin-left: 0px;
  width: 200px;
}

a{
  text-decoration: none; 
}
a:hover{
  background-color: #f1f1f1;
  color: #000000;
}
a:link{
  font-style: normal;
  font-weight: 550;
  font-size: 18px;
  color: #757575;
}
a:visited{
  font-style: normal;
  font-weight: 550;
  font-size: 18px;
  color: #757575;
}
